{% extends "layout.html" %}
{% block content %}
<div class="header clearfix">
  <h3 class="text-muted">PILLAR</h3>
</div>
<hr>
<h2>Your Senators</h2>
<table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th>District</th>
            <th>Party</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody id="act">
			<tr v-for="rep in reps">
			    <td>{/ rep['name'] /}</td>
			    <td>{/ rep['role'] /}</td>
			    <td>{/ rep['district'] /}</td>
			    <td>{/ rep['party'] /}</td>
			    <td>{/ rep['phone'] /}</td>
			</tr>
		</tbody>
<br>


{% endblock %}