{% extends "layout.html" %}
{% block content %}
<h2>Legislation You Might Be Interested In</h2>

<link href="static/css/table.css" rel="stylesheet">

<table>
	<tr><th align="center">Legislation</th><th align="center">Issue</th><th align="center">Description</th><th width="18%"></th></tr>
	<tr><td>Sample</td><td>Sample</td><td>Sample</td><td class="buttonCell"><a href="/" class="btn btn-lg btn-success" background-color="#b30000" role="button">View</a></td><tr>
	<tr><td>Sample</td><td>Sample</td><td>Sample</td><td class="buttonCell"><a href="/" class="btn btn-lg btn-success" background-color="#b30000" role="button">View</a></td><tr>
	<tr><td>Sample</td><td>Sample</td><td>Sample</td><td class="buttonCell"><a href="/" class="btn btn-lg btn-success" background-color="#b30000" role="button">View</a></td><tr>
</table>

<!-- <table>
	<tr><th align="center">Legislation</th><th align="center">Issue</th><th align="center">Description</th></tr>
	<tr><td>Sample</td><td>Sample</td><td>Sample<div float="right" right="0%" padding="10px"><a href="/" class="btn btn-lg btn-success" background-color="#b30000" role="button">View</a></div></td><tr>
	<tr><td>Sample</td><td>Sample</td><td>Sample</td><td class="buttonCell"><a class="viewButton" href="/dashboard" role="button" background-color="#b30000">View</a></td></tr>
	<tr><td>Sample</td><td>Sample</td><td>Sample</td><td class="buttonCell"><a class="viewButton" href="/dashboard" role="button" background-color="#b30000">View</a></td></tr>
</table> -->
{% endblock %}