{% extends "layout.html" %}
{% block content %}
<div class="header clearfix">
  <h3 class="text-muted">PILLAR</h3>
</div>
<hr>

<h2>Relevant Bills</h2>
<br>

<ul class="nav nav-pills">
  <li class="active"><a data-toggle="pill" href="#upcoming">Upcoming</a></li>
  <li><a data-toggle="pill" href="#passed">Recently Passed</a></li>
</ul>

<div class="tab-content">
  <div id="upcoming" class="tab-pane fade in active">
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Committee</th>
            <th>Bill Title</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="bill in bills">
            <td>{/ bill[0]['committees'] /}</td>
            <td>{/ bill[0]['title'] /}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="passed" class="tab-pane fade">
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Committee</th>
            <th>Bill Title</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
        <div id="billsapp">
          <tr>
            <td>Food</td>
            <td>Only Eat Cake</td>
            <td>Failed</td>
          </tr>
          <tr>
            <td>Dumplings</td>
            <td>Give City Key to Dumplings</td>
            <td>Passed</td>
          </tr>
        </div>
        </tbody>
      </table>
    </div>
  </div>
</div>
<a href="/act"><button class="btn btn-lg btn-primary btn-block" type="button" style="background:red;">Act Now</button></a>
<br>
<a href="/logout"><button class="btn btn-lg btn-primary btn-block" type="button">Log Out</button></a>
</div>


{% endblock %}