{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="header clearfix">
    <h3 class="text-muted">PILLAR</h3>
  </div>
  <hr>
  <div class="jumbotron">
    <h2>See bills related to you!</h2>
    <div id='loginapp'>
      <form class="form-signin" v-on:submit.prevent="onSubmit">
        <input type="email" name="username" class="form-control" placeholder="Email address" required autofocus v-model="email">
        <input type="password" name="password" class="form-control" placeholder="Password" required v-model="password">
        <hr>
        <p><button class="btn btn-lg btn-success" role="button">Sign in</button></p>
      </form>
    </div>

    <p><a class="btn btn-lg btn-success" href="/signup" role="button">Sign up now</a></p>
  </div>
<!-- 
  <div id="app-4">
    <ol>
      <li v-for="bill in bills">
      </li>
    </ol>
  </div> -->

  <footer class="footer">
   <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="#">About</a></li>
      <li role="presentation"><a href="#">Contact</a></li>
    </ul>
  </nav>
</footer>

</div> <!-- /container -->
{% endblock %}