{% extends "layout.html" %}
{% block content %}
    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">PILLAR</h3>
      </div>

      <div class="jumbotron">
        <h2>See bills related to you!</h2>

        <form class="form-signin" action="/signup" method="post" role="form">
             <input type="email" name="username" class="form-control" placeholder="Email address" required autofocus>
             <input type="password" name="password" class="form-control" placeholder="Password" required>
        	<p><a class="btn btn-lg btn-success" href="#" role="button">Sign in</a></p>
        </form>
        <form action="localhost:5000/signup">
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
        </form>
      </div>

      <footer class="footer">
      	<nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
      </footer>

    </div> <!-- /container -->
{% endblock %}