{% extends "layout.html" %}
{% block content %}
<link href="static/css/table.css" rel="stylesheet">

<h2>Legislation Profile</h2>
<br>
<br>
<h4>Name of Legislation </h4>

<table height="35%" overflow="scroll">
	<tr>
		<td text-align="left">Issue: Sample</td><td text-align="left">Status: Sample</td>
	</tr>
	<tr>
		<td colspan="2">
			<div float="left" style="height:250px;overflow:scroll;">

			<p text-align="left"> a paragraph description </p>
			<p text-align="left"> a paragraph description </p>
			<p text-align="left"> a paragraph description </p>
			<p text-align="left"> a paragraph description </p>
			<p text-align="left"> a paragraph description </p>
			<p text-align="left"> a paragraph description </p>
			<p text-align="left"> a paragraph description </p>
			<p text-align="left"> a paragraph description </p>
			<p text-align="left"> a paragraph description </p>
			<p text-align="left"> a paragraph description </p>
			<p text-align="left"> a paragraph description </p>
			<p text-align="left"> a paragraph description </p>
			<p text-align="left"> a paragraph description </p>
			<p text-align="left"> a paragraph description </p>
			<p text-align="left"> a paragraph description </p>
			<p text-align="left"> a paragraph description </p>
			<p text-align="left"> a paragraph description </p>


			</div>
		</td>
	</tr>
</table>
<br>
<br>
<div style="height:300px;overflow:scroll;">
	<table>
		<tr><th align="center" width="35%">Representative</th><th width="50"align="center">Stance</th><th width="15%"></th></tr>
		<tr><td>Sample</td><td>Sample</td><td class="buttonCell"><a href="/" class="btn btn-lg btn-success" background-color="#b30000" role="button">Contact</a></td><tr>
		<tr><td>Sample</td><td>Sample</td><td class="buttonCell"><a href="/" class="btn btn-lg btn-success" background-color="#b30000" role="button">Contact</a></td><tr>
		<tr><td>Sample</td><td>Sample</td><td class="buttonCell"><a href="/" class="btn btn-lg btn-success" background-color="#b30000" role="button">Contact</a></td><tr>
	</table>
</div>

<!-- <table>
	<tr><th align="center">Legislation</th><th align="center">Issue</th><th align="center">Description</th></tr>
	<tr><td>Sample</td><td>Sample</td><td>Sample<div float="right" right="0%" padding="10px"><a href="/" class="btn btn-lg btn-success" background-color="#b30000" role="button">View</a></div></td><tr>
	<tr><td>Sample</td><td>Sample</td><td>Sample</td><td class="buttonCell"><a class="viewButton" href="/dashboard" role="button" background-color="#b30000">View</a></td></tr>
	<tr><td>Sample</td><td>Sample</td><td>Sample</td><td class="buttonCell"><a class="viewButton" href="/dashboard" role="button" background-color="#b30000">View</a></td></tr>
</table> -->
{% endblock %}