{% extends "layout.html" %}
{% block content %}
<div class="header clearfix">
<h3 class="text-muted"><a href="/">PILLAR</a></h3>
</div>
<hr>
<h2>Please Sign Up</h2>
<br>
<!--<script src="{{ url_for('static', filename='script.js') }}"></script>-->

<div class="container jumbotron">
	<form class="form-signin" action="/signUp" method="post" role="form">
		<!--<h2 class="form-signin-heading">Please Sign Up </h2>-->
		<input type="full name" name="full name" class="form-control" placeholder="Full Name" required>
		<input type="email" name="username" class="form-control" placeholder="Email address" required autofocus>
		<input type="phone" name="phone" class="form-control" placeholder="Phone Number (for text alerts)">
		<input type="zip" name="zip" class="form-control" placeholder="ZIP Code">
		<input type= Code"Password" name="password" class="form-control" placeholder="Password" required>
		<input type="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required>
			<hr>
			<div class="check">
				<h4 style="color:#999"> Select issues you care about: </h4>
					<div class="checkBoxContainer" style="text-align: left;"> </div>
					<hr>
					<button class="btn btn-lg btn-primary btn-block" type="button">Register </button>
			</div>
	</form>
	<br>
	
</div>

		{% endblock %}